*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,
html{
    width: 100%;
    height: 100%;
    font-family: Main-Font-Regular;
    background: var(--main-bg);
    color: var(--white);
    cursor: default;
}

@font-face {
    font-family: Main-Font;
    src: url(./Assets/Fonts/SuisseIntl-Regular-WebXL.ttf);
}
@font-face {
    font-family: Main-Font-bold;
    src: url(./Assets/Fonts/PPMori-SemiBold.ttf);
}
@font-face {
    font-family: Main-Font-Regular;
    src: url(./Assets/Fonts/PPMori-Regular.ttf);
}

:root{
    --white: #FBF4FD;
    --head-text: #fefcff;
    --main-bg: #0F0D0D;
}
#main{
        width: 100%;
        max-width: 1920px;
        display: block;
        margin: 0 auto;
}
/* Page 1 Started */
/* Page 1 Started */

/* Nav */
#nav-links h5{
    font-size: 14px;
    line-height: 16px;
    mix-blend-mode: difference;
}
#ball2{
    transition: all ease-in-out 0.4s;
    opacity: 0;
}
#nav-end:hover #ball2{
    right: 18px;
    opacity: 1;
}
#ball1:hover #cursor{
    display: none;
}
/* Nav */

/* Main text */
#page-1-head{
    margin-top: 9rem;
    letter-spacing: -5px;
    line-height: 95px;
    text-align: center;
}
#page-1-head h1{
    color: var(--head-text);
    font-size: 6.3rem;
}